<form action='/game_page' method="post">
  What is your name?: 
  <input type="text" name="name" placeholder="e.g John">
  What board size do you want?: 
  <input type="text" name="board_size" placeholder="e.g 9,16, 25, etc.">
  How many ships do you want?: 
  <input type="text" name="number_of_ships" placeholder="e.g 1,2,3,4,5">
  <input type="submit" value="Submit">
</form>